/*Global custom : displaying elements to left or right*/
.form-search{
  float:left;
}
.user{
  float:right;
}
header aside{
  float: left;
  margin-top: 30px;
  margin-right: 35px;
}
.name{
  float: left;
}
.stats-links{
  clear:both;
}
.links{
  float: right;
}
.stats{
  float: left;
}
.section-title{
  float:left;
}
.section-station{
  float:right;
}
.albums{
  clear:both;
}

/* Padding glyphicon dropdown menu */
.glyphicon-pencil:before {
  margin-right: 5px;
}

.glyphicon-off:before {
  margin-right: 5px;
}

/* 4. Utiliser les classes de grille (col-xs-* / col-md-* etc.) pour affichier successivement les ablums par 6 sur grand ecran, 4 pour les tablettes et 3 en dessous
*/
/* Phones */
@media (max-width: 768px) {
  .row > div:nth-child(3n+4) {
    clear: left;
  }
}
/* Tablets */
@media (min-width:768px) and (max-width: 991px) {
  .row > div:nth-child(4n+5) {
    clear: left;
  }
}
/* Desktop */
@media (min-width: 992px) and (max-width: 1199px) {
  .row > div:nth-child(6n+7) {
    clear: left;
  }
}
/* TV */
@media (min-width: 1200px) {
  .row > div:nth-child(6n+7) {
    clear: left;
  }
}


/*7. Sur une nouvelle feuille de style, utiliser les medias queries pour :
	- Masquer le champs de recherche lorsque l'espace disponible deviens insuffisant*/
@media screen and (max-width: 550px)
{
    .search
      {display: none;}
}
/*- Masquer les icones twitter et facebook sur mobile*/
@media screen and (max-device-width: 480px)
{
	.share
	{display: none;}
}
/*- Présenter les albums 2 par 2 à partir d'une largeur d'écran de 450px*/
@media screen and (max-width: 450px)
{
   .article{
     width: 50%;
   }
}
/*- Aligner les liens Collection et History à gauche (sous les statistiques) lorsque l'espace disponible deviens insuffisant*/
@media screen and (max-width: 575px)
{
.links{
  float: left;
}
.stats-links {
    color: #4b5c66;
    font-size: 1.2rem;
    padding: 15px 0px 40px 0px;
    border-bottom: 1px solid #e1e6e9;
    margin-bottom: 20px;
}
}
/*9. Ajuster la taille du texte au 3 points de ruptures suivants : 1400px (grossir) / 600px (plus petit) / 450px (encore plus petit)*/

@media (max-width: 450px) {
  html{
    font-size: 9px!important;
  }
}

@media (min-width:600px) and (max-width: 1400px) {
  html{
    font-size: 11px!important;
  }
}

@media (min-width: 1400px) {
  html{
    font-size: 15px!important;
  }
}
